* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth
}

* {
    cursor: url('img/pointer.png'), pointer;
}

.container {
    width: 1750px;
    margin: 0 auto;
}

.nav {
    color: rgb(255, 255, 255);
font-family: Dopis;
font-size: 15px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
margin-left: 30px; 
cursor: pointer;
}



.header {
    display: flex;
}

.navigation {
    padding-top: 35px;
    padding-left: 360px;
}

.nav_sup {
    color: rgb(255, 255, 255);
    font-family: Dopis;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    
    text-decoration: none;
}

.nav_sup-block {
    margin-top: -22px;
    display: flex;
    justify-content: end;
}

.jaecoo {
    padding-top: 29px;
    cursor: url('img/click.png'), pointer;
}

.main {
    background: url("img/section_1.jpg") center center / cover no-repeat;
    height: 120vh;
}

.buy {
    color: rgb(63, 63, 63);
font-family: Dopis;
font-size: 17.75px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1.04px solid rgba(0, 0, 0, 0.13);
backdrop-filter: blur(10.76px);
background: rgba(255, 255, 255, 0.973);
/* Rectangle 3 */
width: 228.18px;
height: 57.43px;
cursor: pointer;
transition: 0.3s;
}

.buy:hover {
    background-color: rgba(255, 255, 255, 0.829);
    transition: 0.3s;
}

.buy {
    padding-left: 28px;
}

.continue {
    padding-left: 35px;
}

.model {
width: 227.67px;
height: 57.43px;
box-sizing: border-box;
border: 1.04px solid rgba(255, 255, 255, 0.8);
backdrop-filter: blur(10.76px);
background: rgba(255, 255, 255, 0.06);
color: rgb(255, 255, 255);
font-family: Dopis;
font-size: 17.75px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
padding-left: 28px;
cursor: pointer;
transition: 0.3s;
}

.model:hover {
    background-color: rgba(0, 0, 0, 0.11);
    transition: 0.3s;
}

.continue_2 {
    padding-left: 65px;
}

.button_block {
    display: flex;
    gap: 20px;
    margin-top: 900px;
}

.nav_sec {
    margin-left: 1730px;
    margin-top: 360px;
}

.research_block {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.research_name {
    color: rgb(29, 29, 29);
font-family: Dopis;
font-size: 13.17px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
padding-top: 0px;
text-align: center;
}

.research_discription {
    color: rgb(63, 63, 63);
font-family: Dopis;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
text-align: center;
}

.research_price {
    color: rgba(0, 0, 0, 0.25);
font-family: Dopis;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
text-align: center;
padding-top: 7px;
}

.research_car {
    color: rgb(0, 0, 0);
font-family: Dopis;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0%;
text-align: center;
margin-top: 72px;
}

.research_model {
    color: rgb(0, 0, 0);
font-family: Dopis;
font-size: 13.17px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 25px;
margin-top: 3px;
}

.jaecoo_j8 {
    color: rgb(136, 136, 136);
font-family: Dopis;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
margin-top: 60px;
margin-bottom: 50px;
}

.J8 {
    background: url("img/JAECOO_J8.jpg") center center/cover no-repeat;
    height: 110vh;
}

.J8__name {
    color: rgb(255, 255, 255);
font-family: Dopis;
font-size: 220px;
font-weight: 700;
text-align: left;
padding-top: 75px;
}



.J8_price {
    color: rgb(255, 255, 255);
font-family: Dopis;
font-size: 39.52px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0%;
text-align: left;
padding-bottom: 10px;
}

.J8_discription {
    color: rgb(255, 255, 255);
font-family: Dopis;
font-size: 23.05px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
width: 564px;
padding-bottom: 40px;
}

.button_J8 {
    box-sizing: border-box;
border: 1.09px solid rgb(255, 255, 255);
backdrop-filter: blur(11.27px);
background: rgba(54, 69, 79, 0);
color: rgb(255, 255, 255);
font-family: Dopis;
font-size: 18.6px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
width: 236px;
height: 60.16px;
padding-left: 28px;
padding-top: 3px;
transition: 0.3s;
cursor: pointer;
}

.button_J8:hover {
    background-color: rgba(0, 0, 0, 0.068);
    transition: 0.3s;
}

.continue_3 {
    padding-left: 37px;
}

.nav_j8 {
    margin-left: 1730px;
    margin-top: -100px;
}

.interior {
    background: url("img/bg_interior.jpg") center center/cover no-repeat;
    height: 220vh;
}

.text_interior {
    color: rgb(29, 29, 29);
font-family: Dopis;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: justify;
margin-left: 80px;
padding-top: 130px;
padding-bottom: 25px;
}

.interior_j8 {
    color: rgb(29, 29, 29);
font-family: Dopis;
font-size: 27px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0%;
text-align: justify;
margin-left: 80px;
padding-bottom: 1px;
}

.img_interior {
    margin-left: 100px;
    margin-top: 40px;
}


.img_exterior {
    margin-left: 400px;
    margin-top: -70px;
}

.section_j7 {
    background: url("img/jaecoo_J7.jpg")center center/cover no-repeat;
    height: 110vh;
}

.J7__name {
    color: rgb(255, 255, 255);
    font-family: Dopis;
    font-size: 237px;
    font-weight: 700;
    line-height: 296px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 120px;
}

.J7_price {
    color: rgb(255, 255, 255);
    font-family: Dopis;
    font-size: 64.95px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 0%;
    text-align: left;
}

.J7_discription {
    color: rgba(255, 255, 255, 0.75);
    font-family: Dopis;
    font-size: 18.72px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 40px;
}

.credit {
    background: url("img/advantages.jpg") center center/cover no-repeat;
    height: 380px;
}

.advantages {
    color: rgb(0, 0, 0);
    font-family: Dopis;
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 15px;
}

.comfortable {
    color: rgba(0, 0, 0, 0.82);
    font-family: Dopis;
    font-size: 17.69px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 55px;
}

.credit_button {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0);
    width: 307px;
    height: 54px;
    color: rgb(0, 0, 0);
    font-family: Dopis;
    font-size: 17.48px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
    margin-left: 41%;
    cursor: pointer;
    transition: 0.3s;
}

.credit_button:hover {
    background-color: rgb(10, 10, 10);
    color: white;
    transition: 0.3s;
}

.divider {
    border: 0.88px solid rgb(255, 255, 255);
    height: 1px;

}

.footer_info {
    color: rgb(255, 255, 255);
    font-family: Dopis;
    font-size: 17.69px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: justify;
    padding-top: 35px;
    padding-bottom: 63px;
}

.footer_right {
    color: rgb(255, 255, 255);
    font-family: Dopis;
    font-size: 17.69px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.footer {
    background: url("img/footer.jpg") center center/cover no-repeat;
    height: 550px;
}

.footer_logo {
    padding-top: 75px;
    padding-bottom: 35px;
}

.nav_j7 {
    margin-left: 1730px;
    margin-top: -300px;
}

.jaecoo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.jaecoo {
    transition: 0.3s;
    cursor: pointer;
}

:after,
:before,
*{
    box-sizing: border-box;
    font-family: 'Dopis', sans-serif;
}
.container {
  width: 1750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body {
  margin: 0;
  font-family: 'Dopis', sans-serif;
}
h2 {
      line-height:1.1;
}
.hero-slider {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}

@media (max-width: 991px) {
  .hero-slider {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-slider {
    height: 500px;
  }
}

.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}

.hero-slider .swiper-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}



.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #00000000;
  border-radius: 55px;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
  transform:translateX(0);
  opacity:1;
  visibility:visible;
}

@media (max-width: 767px) {
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    display: none;
  }
}

.hero-slider .swiper-button-prev {
  left: 25px;
  transform:translateX(50px);
}

.hero-slider .swiper-button-prev:before {
  font-family: 'Dopis';
  content: "\f060";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block


}

.hero-slider .swiper-button-next {
  right: 25px;
  transform:translateX(-50px);
}

.hero-slider .swiper-button-next:before {
  font-family: 'Dopis';
  content: "\f061";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block

}

.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  background:#fff;
  transition:all .2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
  opacity:1;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}

@media screen and (min-width: 992px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-pagination-fraction {
/*     display: none; */
  }
}
.swiper-pagination {
  text-align:left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:10px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}


@media (min-width: 767px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:30px;
 
}
}
/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
  height: 850px;
  transition:all .4s ease;
}

@media (max-width: 991px) {
  .hero-style {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style{
    height: 500px;
  }
}

@media screen and (min-width: 992px) {
  .hero-style .container {
    margin-top: -300px;
  }
}

.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
  max-width: 690px;
}

.hero-style .slide-title h2 {
  font-size: 120px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 35px;
  text-transform: capitalize;
  transition:all .4s ease;
}

@media (max-width: 1199px) {
  .hero-style .slide-title h2 {
    font-size: 75px;
  }
}

@media (max-width: 991px) {
  .hero-style .slide-title h2 {
    font-size: 50px;
    margin: 0 0 35px;
  }
}

@media (max-width: 767px) {
  .hero-style .slide-title h2 {
    font-size: 35px;
    margin: 0 0 30px;
  }
}

.hero-style .slide-text p {
  opacity: 1;
  font-family: 'Dopis';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 20px;
  transition:all .4s ease;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .hero-style .slide-text p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.hero-style .slide-btns > a:first-child {
  margin-right: 10px;
}


/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn, .theme-btn-s2{
    background-color: #ffffff;
    font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color:#000000;
    padding: 15px 50px;
    border: 0; 
    display: inline-block;
    line-height: initial;
  transition:all .4s ease;
}
a {
    text-decoration: none;
    transition: all 0.2s ease;
}
.theme-btn-s2{
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.theme-btn:hover, .theme-btn-s2:hover, .theme-btn:focus, .theme-btn-s2:focus, .theme-btn:active, .theme-btn-s2:active {
    background-color:#e2e2e2 ;
    color: #000000;
}
.theme-btn-s3{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
i.fa-chevron-circle-right{
  height:22px;
  width:22px;
}
a:hover {
    text-decoration: none;
}
@media (max-width: 991px){
  .theme-btn, .theme-btn-s2, .theme-btn-s3 {
    font-size: 13px;
    padding: 15px 25px;
  }
}
@media (max-width: 767px){
  .theme-btn, .theme-btn-s2{
    padding: 13px 20px;
    font-size: 13px;
  }
}

.header_news {
    display: flex;
    background: rgb(22, 22, 22);
    height: 91px;

}

.nav_news {
  color: rgb(255, 255, 255);
  font-family: Dopis;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  margin-left: 30px; 
  cursor: pointer;
}

.nav_sup-news {
  color: rgb(255, 255, 255);
  font-family: Dopis;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  
  text-decoration: none;
}

.nav_sup-block_news {
  display: flex;
  justify-content: end;
  margin-top: -55px;
}

.navigation_news {
  margin-top: -30px;
  padding-left: 555px;
}

.text_news {
  color: rgb(0, 0, 0);
font-family: Dopis;
font-size: 55.65px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0%;
text-align: left;
margin-top: 150px;
}

.news_info{
  background: rgb(235, 235, 235);
width: 879px;
height: 541px;

}

.day_news{
  color: rgb(0, 0, 0);
  font-family: Dopis;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 35px;
  padding-top: 50px;
}

.date_news {
  color: rgba(0, 0, 0, 0.5);
  font-family: Dopis;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 35px;
  padding-top: 10px;
}

.button_news {
  box-sizing: border-box;
  border: 2px solid rgb(54, 69, 79);
width: 200px;
height: 62px;
color: rgb(54, 69, 79);
font-family: Dopis;
font-size: 17px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left; 
margin-left: 35px;
margin-top: 190px;
padding-left: 20px;
}

.news_block {
  display: flex;
  margin-top: 120px;
}

.news_row {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}


.car_text-news {
  width: 500px;
  color: rgb(0, 0, 0);
  font-family: Dopis;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: justify;
  padding-top: 35px;
  padding-bottom: 5px;
}

.date_car {
  color: rgba(0, 0, 0, 0.5);
font-family: Dopis;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}

.btn_news-info {
  box-sizing: border-box;
  border: 2px solid rgb(54, 69, 79);
  background: rgb(54, 69, 79);
  width: 200px;
  height: 62px;
  color: rgb(255, 255, 255);
  font-family: Dopis;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 25px;
}

.block_btn {
  padding-bottom: 70px;
}

.guide_text {
  color: rgb(0, 0, 0);
  font-family: Dopis;
  font-size: 55.65px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 120px;
  padding-bottom: 70px;
}

.guide_info {
  color: rgb(101, 101, 101);
  font-family: Dopis;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
  padding-bottom: 80px;
}

.guide_downloading {
  background-color: #f0f0f0;
  height: 660px;
}

.block_guide {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 150px;
}

.guide_row {
  background: rgb(255, 255, 255);
  width: 518px;
  height: 330px;
}

.guide_name {
  color: rgb(54, 69, 79);
  font-family: Dopis;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 75px;
  padding-bottom: 45px;
}

.download_button {
  background-color: #ffffff00;
  box-sizing: border-box;
  border: 2px solid rgb(54, 69, 79);
  width: 312px;
  height: 60px;
  color: rgb(54, 69, 79);
  font-family: Dopis;
  font-size: 18.06px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 30px;
  margin-left: 75px;
  cursor: pointer;
}

.download {
  padding-left: 75px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.model_main {
  background: url("img/model_j7.jpg")center center/ cover no-repeat;
  height: 100vh;
}

.model_main_j8 {
  background: url("img/7a29c032ff1b80ba298f876a31a7b5c007d42e59_3000_1688_c.jpg")center center/ cover no-repeat;
  height: 100vh;
}

.model_head {
  color: rgb(255, 255, 255);
  font-family: Dopis;
  font-size: 80px;
  font-weight: 700;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 160px
}

.model_special {
  color: rgba(255, 255, 255, 0.63);
  font-family: Dopis;
  font-size: 18.72px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 50px;
}

.model_button {
  color: rgb(63, 63, 63);
  font-family: Dopis;
  font-size: 17.31px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border: 1.02px solid rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(10.49px);
  background: rgba(255, 255, 255, 0.966);
  width: 260px;
  height: 56px;
  padding-left: 30px;
}

.continue_4 {
  padding-left: 70px;
}

.about_model {
  background:url("img/about_bg.jpg") center center/cover no-repeat;
  height: 45vh;
}

.about_model-head {
  color: rgb(29, 29, 29);
  font-family: Dopis;
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 95px;
  padding-bottom: 35px;
}

.about_model-text {
  color: rgba(29, 29, 29, 0.43);
  font-family: Dopis;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: justify;
  padding-bottom: 55px;
}

.about_button {
  box-sizing: border-box;
  border: 1.09px solid rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(11.27px);
  background: rgb(54, 69, 79);
  width: 236px;
  height: 60.16px;
  color: rgb(255, 255, 255);
  font-family: Dopis;
  font-size: 18.6px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 30px;
}

.continue_5 {
padding-left:40px;
}

.model_exterior {
  text-align: center;
  color: rgb(29, 29, 29);
  font-family: Dopis;
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  padding-top: 80px;
  padding-bottom: 35px;
} 

.model_exterior {
  margin-top: 20px;
  margin-bottom: 60px;
}

.model_divider {
  border: 2px solid rgba(183, 183, 183, 0.24);
width: 1903px;
height: 0;
margin-top: 48px;
}

.model_exterior {
  letter-spacing: 12px;
}

.tabs_modal {
  background: url("img/tabs_bg.jpg") center center/cover no-repeat;
  height: 100vh;
}

.tabs-items {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.tabs_name {
  color: rgb(0, 0, 0);
font-family: Dopis;
font-size: 40px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0%;
text-align: center;
padding-top: 150px;
}

.tab_1:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.tab_1 {
  transition: 0.3s;
}

.tab_2:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.tab_2 {
  transition: 0.3s;
}

.tab_3:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.tab_3 {
  transition: 0.3s;
}

.jaecoo_stats {
  width: 1439px;
height: 527px;
margin-left: 140px;
margin-top: 110px;
border-radius: 10px;
}

.stats_divider {
  background: rgb(230, 230, 230);
  width: 345px;
  height: 12px;
}

.stats_text {
  color: rgb(29, 29, 29);
  font-family: Dopis;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: justify;
  width: 345px;
  padding-bottom: 13px;
  padding-top: 27px;
}

.stats_discription {
  color: rgba(29, 29, 29, 0.51);
  font-family: Dopis;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: justify;
  width: 345px;
}

.block_stats {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.stats_turbo {
  color: rgb(29, 29, 29);
  font-family: Dopis;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
  margin-top: 150px;
  margin-left: 140px;
  padding-bottom: 50px;
}

.stats_data{
  color: rgb(29, 29, 29);
  font-family: Dopis;
  font-size: 85px;
  font-weight: 700;
  line-height: 106px;
  letter-spacing: 0%;
  text-align: justify;
}

.block_turbo {
  display: flex;
  justify-content: center;
  gap: 75px;
  padding-bottom: 60px;
}

span {
  color: rgba(29, 29, 29, 0.25);
font-family: Dopis;
font-size: 18px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0%;
text-align: justify;
width: 150px;
margin-top: 20px;
margin-left: 25px;
}

.stats_block {
  display: flex;
}

.drop_down {
  backdrop-filter: blur(33.5px);
background: rgba(255, 255, 255, 0.24);
width: 1920px;
height: 317px;
margin-top: -5px;
display: flex;

}

.drop_text {
  color: rgb(0, 0, 0);
  font-family: Dopis;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
  text-align: center;
  padding-bottom: 5px;
}

.discription {
  color: rgba(0, 0, 0, 0.25);
  font-family: Dopis;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-align: center;
}

.drop_img {
  padding-top: 50px;
}

.drop_content {
  margin-left: 170px;
}

.disp {
  display: none;
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 480px) {
  
}

@media (min-width: 320px) {
  
}